## Importing Libraries

In [1]:
import requests
from bs4 import BeautifulSoup
import csv
import pandas as pd
import os

In [2]:
url = 'https://books.toscrape.com/catalogue/page-1.html'
print(url)
req = requests.get(url)
soup = BeautifulSoup(req.content , 'html.parser')

https://books.toscrape.com/catalogue/page-1.html

## Scrapping Function

In [3]:
def Scrapping(url):
    
    for pgn in range(1 , 51):

        url = f'https://books.toscrape.com/catalogue/page-{pgn}.html'
        req = requests.get(url)
        soup = BeautifulSoup(req.content , 'html.parser')
        
        
        sec = soup.find('section')
        rows = sec.find('ol').find_all('li' , attrs = {'class' : 'col-xs-6 col-sm-4 col-md-3 col-lg-3'})

        titles , rates , prices = [] , [] , []

        for row in rows:

            rate = row.find('p',attrs={'class':'star-rating'}).attrs['class'][-1]
            rates.append(rate)

            title = row.find('h3').find('a').attrs['title']
            titles.append(title)

            price = float((row.find('div',attrs={'class':'product_price'}).find('p',attrs={'class':'price_color'}).text)[1:])
            prices.append(price)

#             print(rate)
#             print(title)
#             print(price)

#             print('*'*30)


        pgn_num = ''

        if 'index' in url:
            try:
                pgn_num = int(soup.find('ul' , attrs = {'class' : 'pager'}).find('li' , attrs = {'class' : 'current'}).text.strip().split(' ')[-1])
            except:
                pass

        return titles , rates , prices , pgn_num

## Storing_Data Function

In [4]:
def store_data(cat_name , titles , rates , prices):
    
    m = 'w' if os.path.exists('Books_Information.csv') == False else 'a'
    
    with open('Books_Information.csv' , mode = m , newline='' , encoding='utf-8') as f :
        
        writer = csv.writer(f)
        
        if m == 'w':
            
            writer.writerow(['Category','Title','Price','Rate'])
            
        for tit , rat , price in zip(titles , rates , prices):
            
            writer.writerow([cat_name,tit,price,rat])

##  scrapping Categories

In [5]:
cat_outer_div = soup.find('div',attrs={'class':'side_categories'})
rows_cat = cat_outer_div.find('ul',attrs={'class':'nav nav-list'}).find_all('li')[1:]
categories = {rowcat.text.strip() :'https://books.toscrape.com/catalogue/' + rowcat.find('a')['href']  for rowcat in rows_cat}

In [6]:
for cat_name , url in categories.items():
    
    print(url)
    print('*'*40)
    
    titles , rates , prices , pgn_num = Scrapping(url)
    
    store_data(cat_name , titles , rates , prices)
    
    
    if type(pgn_num) == int: 
        
        for pgn in range(2 , pgn_num + 1 ):
            
            new_url = url.replace('index' , f'page-{pgn}')
            
            print(new_url)
            print('*'*40)
            
            titles , rates , prices , _ = Scrapping(new_url)
            store_data(cat_name , titles , rates , prices)

https://books.toscrape.com/catalogue/category/books/travel_2/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/mystery_3/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/historical-fiction_4/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/sequential-art_5/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/classics_6/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/philosophy_7/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/romance_8/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/womens-fiction_9/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/fiction_10/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/childrens_11/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/religion_12/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/nonfiction_13/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/music_14/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/default_15/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/science-fiction_16/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/sports-and-games_17/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/add-a-comment_18/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/fantasy_19/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/new-adult_20/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/young-adult_21/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/science_22/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/poetry_23/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/paranormal_24/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/art_25/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/psychology_26/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/autobiography_27/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/parenting_28/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/adult-fiction_29/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/humor_30/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/horror_31/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/history_32/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/food-and-drink_33/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/christian-fiction_34/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/business_35/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/biography_36/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/thriller_37/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/contemporary_38/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/spirituality_39/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/academic_40/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/self-help_41/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/historical_42/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/christian_43/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/suspense_44/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/short-stories_45/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/novels_46/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/health_47/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/politics_48/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/cultural_49/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/erotica_50/index.html
****************************************
https://books.toscrape.com/catalogue/category/books/crime_51/index.html
****************************************

In [7]:
data = pd.read_csv('Books_Information.csv')
data

     Category                                              Title  Price   Rate
0      Travel                               A Light in the Attic  51.77  Three
1      Travel                                 Tipping the Velvet  53.74    One
2      Travel                                         Soumission  50.10    One
3      Travel                                      Sharp Objects  47.82   Four
4      Travel              Sapiens: A Brief History of Humankind  54.23   Five
...       ...                                                ...    ...    ...
1995    Crime  Our Band Could Be Your Life: Scenes from the A...  57.25  Three
1996    Crime                                               Olio  23.88    One
1997    Crime  Mesaerion: The Best Science Fiction Stories 18...  37.59    One
1998    Crime                       Libertarianism for Beginners  51.33    Two
1999    Crime                            It's Only the Himalayas  45.17    Two

[2000 rows x 4 columns]